{% extends 'admin_templates/base_template.html' %}
{% block page_title %}
Account Approval
{% endblock page_title %}

{% block main_content %}
    <!-- Main content -->
    <section class="content">
    
    <div class="card">
    <!-- /.card-header -->
    <div class="card-body">
     <table class="table table-hover text-nowrap"  id="FinancialTables">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Last Login</th>
                        <th>Date Joined</th>
                        <th>Approval</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for financial in financials %}
                      <tr>
                        <td>{{ financial.id }}</td>
                        <td>{{ financial.first_name }}</td>
                        <td>{{ financial.last_name }}</td>
                        <td>{{ financial.email }}</td>
                        <td>{{ financial.address }}</td>
                        <td>{{ financial.last_login }}</td>
                        <td>{{ financial.date_joined }}</td>
                        <td>
                        <label class="title"><b>Title</b></label><label class="title" style="color:#FF0000">*</label>
                        <select value="select" class="title">
                              <option value="0">Select</option>
                              <option value="1">Approve</option>
                              <option value="0">Disapprove</option>
                        </select>
                        </td>      
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
    </div>
    <!-- /.card-body -->
  </div>
                    
                    
                  
                 
    </section>
    <!-- /.content -->
{% endblock main_content %}
