{% extends 'financial_templates/base_template.html' %}
{% block page_title %}

{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="card-body">
        <table class="table table-hover text-nowrap" id="FinancialTables">
          <thead>
            <tr>
              <th>Bill ID</th> 
              <th>PaperID</th>
              <th>PaperTitle</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Price</th>
              <th>Date</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for paymentpaperc in paymentpaper %}
            <tr>
              <td>{{ paymentpaperc.bill_id }}</td>
              <td>{{ paymentpaperc.paper_id }}</td>
              <td>{{ paymentpaperc.paper_title }}</td>
              <td>{{ paymentpaperc.fname }}</td>
              <td>{{ paymentpaperc.lname }}</td>
              <td>{{ paymentpaperc.price }}</td>
              <td>{{ paymentpaperc.datetime }}</td>
              <td>{{ paymentpaperc.status }}</td>
              <td>
                <a href="/cancel_statusat/{{ paymentpaperc.bill_id }}" class="btn btn-danger">Cancel</a>
                <a href="/success_statusat/{{ paymentpaperc.bill_id}}" class="btn btn-success">Success</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}



