{% extends 'financial_templates/base_template.html' %}
{% block page_title %}

{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
            <div class="card-body">
        <table class="table table-hover text-nowrap" id="tables">
          <thead>
            <tr>
              <th>Bill ID</th>
              <th>Paper Title</th>
              <th>Price</th>
              <th>Date</th> 
              <th>Edit by</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          {% for authorc in approvalauthor %}
            <tr>
              <td>{{ authorc.billid }}</td>
              <td>{{ authorc.papertitle }}</td>
              <td>{{ authorc.price }}</td>
              <td>{{ authorc.updated_at }}</td>
              <td>{{ authorc.editby }}</td>
              <td>{{ authorc.statusapproval }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

