{% extends 'financial_templates/base_template.html' %}
{% block page_title %}

{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="card-body">
        <table class="table table-hover text-nowrap" id="tables">
          <thead>
            <tr>
              <th>Bill ID</th>
              <th>Paperlist</th>
              <th>Price</th>
              <th>Date</th>
              <th>Edit by</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          {% for participantc in approvalpp %}
            <tr>
              <td>{{ participantc.billid }}</td>
              <td>{{ participantc.paperlist }}</td>
              <td>{{ participantc.price }}</td>
              <td>{{ participantc.updated_at }}</td>
              <td>{{ participantc.editby }}</td>
              <td>{{ participantc.statusapproval }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

