{% extends 'authorf_templates/base_template.html' %}
{% block page_title %}
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<div class="card-body">
  <table class="table table-hover text-nowrap" id="tables">
    </form>
    <thead>
      <tr>
        <th>Paper ID</th>
        <th>Paper Title</th>
        <th>Paper Type</th>
        <th>Type</th>
        <th>Price</th>
        <th>Status</th>
        <th>Change Type</th>

      </tr>
    </thead>
    <tbody>
      {% for paper in data %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-primary">Change</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- /.content -->
{% endblock main_content %}