{% extends 'author_templates/base_template.html' %}
{% block page_title %}

{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<div class="card-body">
  <table class="table table-hover text-nowrap" id="tables">
    <thead>
      <tr>
        <th>Paper ID</th>
        <th>Paper Title</th>
        <th>Paper Type</th>
        <th>Type</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      {% for paper in data %}
      <tr>
        <form role="form" action="/author_bill_save/{{ paper.paper_id }}" method="post">
          {% csrf_token %}
          <td name="paperid" value="{{ paper.paper_id }}">{{ paper.paper_id }}</td>
          <td>{{ paper.paper_title }}</td>
          <td>{{ paper.paper_type }}</td>

          <td>
            <select value=" Title" class="title" name="title" type="title" required>
              <option value="">- - -</option>
              <option value="Regular">Regular</option>
              <option value="Virtual">Virtual</option>
            </select>
          </td>
          <td><input class=" btn btn-primary" type="submit" value="Payment"></a>
          </td>
        </form>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  <div class="row">
    {% if messages %}
    <div class="col-12">
      {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger" style="margin-top:10px">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>{{ message }}</div>
      {% endif %}
      {% if message.tags == 'success' %}
      <div class="alert alert-success" style="margin-top:10px">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>{{ message }}</div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

<!-- /.content -->
{% endblock main_content %}